/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Montserrat&display=swap');


/* cores adotadas pelo portifólio */
:root{
    --vermelho: #c4302b;
    --preto: #171515;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: whitesmoke;
    display: block
}

.cabecalho{
    overflow: hidden;
    top: 0;
    background-color: var(--preto);
    color: whitesmoke;
    height: 5rem;
    width: 100%;
    padding-bottom: auto;
    padding-top: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
    font-family: sans-serif;
}

.profile-photo{
    float: left;
    border-radius: 70%; /* arredondar imagem */
    margin: 5px;
    padding: 5px;
    background-color: #171515;
    margin: 2.5rem 1.5rem 3rem 3rem;
}

.boas-vindas{
    margin-top: 1pc;
    flex: content;
    align-items: center;
    text-align: center;
    text-orientation: unset;
    font-family: 'Montserrat', sans-serif;
}

.box{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 20px 20px 20px 20px;
    padding: auto;
}

.descricao{

}

.cursos{
    
}

.rodape{
    background-color: var(--preto);
    color: whitesmoke;
    height: 100%;
    width: 100%;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    font-size: large;
    font-family: sans-serif;
}

.contatos{
    color: whitesmoke;
    margin: auto 2px 2px 20px;
}
.link-contatos{
    text-decoration: none;
    color: white;
}

/* adicionar responsividade */
@media only screen and (max-width: 1024px) {
    .profile-photo{
        width: 75%;
        height: 75%;
    }
    .box{    
        flex-direction: column;
    }
}

@media only screen and (min-width: 375px)and (max-width: 650px){

    body{
        background-color: #ffffff;
    }

    .profile-photo{
        display: none;
    }

    .cabecalho{
        float: none;
        display: block;
        text-align: left;
    }

    .box{    
        flex-direction: column;
    }
    
}
